body {
    color: #eee;
}

.photo {
    max-width: 100%;
}

a {
    color: #26BD8A;
    text-decoration: none;
}

a:hover {
    color: #EF60C5;
    text-decoration: underline;
}

.date-label {
    background-color: #004E00;
    font-size: 1.3em;
    text-align: center;
    padding: 1em 1em;
    margin: 0em 2em;
}

.date-table {
    width: 100%;
    padding-left: 2.5em;
    margin-bottom: 5em;
    margin-top: 1em;
}

.faq-answer {
    padding-left: 2em;
    margin-bottom: 2em;
}

th {
    padding: 0.5em;
}